body {
    font-family: 'Cinzel', serif;
    background-color: #eae0d5;
    margin: 0;
    padding: 0;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/old_map.jpg');
    background-size: cover;
    color: #4b3f3f;
}

header {
    background-color: #6b4f4f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #8d7b7b;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    background-color: #6b4f4f;
    text-align: center;
    border-bottom: 3px solid #8d7b7b;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#about,
section#projects,
section#contact {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #6b4f4f;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 5px solid #8d7b7b;
}
